@using TrendOl.BusinessLayer
@using TrendOl.Entities

@{
	CategoryManager cm = new CategoryManager();
	List<Category> MainCategories = cm.GetCategories();
	SubCategoryManager subcm = new SubCategoryManager();
	var isShowing = "show";
	int CategoryCounter = 0;

	BrandManager bm = new BrandManager();
	List<Brand> Brands = bm.GetBrands();

}

<head>
	<link href="~/Content/categories.css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather:700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>



<!--Categories-->
<div class="accordion" id="AccordionCategory">

	<div class="section-title d-flex justify-content-center">
		<h6 class="headline">Categories</h6>
	</div>

	<div class="left-menu-item">

		@foreach (Category itemCat in MainCategories)
		{
			<div class="left-menu-header">
				<a data-toggle="collapse" data-target="#collapse-@itemCat.Id" aria-expanded="true" aria-controls="@itemCat.Id">
					@itemCat.Title
				</a><br />
			</div>

			List<SubCategory> subCategories = subcm.GetSubCategories(itemCat.Id);

			if (CategoryCounter >= 1)
			{
				isShowing = "";
			}


			<div class="left-menu-list">
				<ul id="collapse-@itemCat.Id" class="collapse @isShowing" aria-labelledby="@itemCat.Title" data-parent="#AccordionCategory">

					<li>
						<a href="/Shopping/Select/-1">All</a>
					</li>
					@foreach (SubCategory itemSubCat in subCategories)
					{
				<li>
					<a href="/Shopping/ByCategory/@itemSubCat.Id">@itemSubCat.Title</a>
				</li>
					}


				</ul>
			</div>

			CategoryCounter +=1;
		}



	</div>





</div>

<hr />
<!--Brands-->

<div class="accordion" id="AccordionBrands">

	<div class="section-title d-flex justify-content-center">
		<h6 class="headline">Brands</h6>
	</div>

	<div class="left-menu-item">
			<div class="left-menu-header">
				<a data-toggle="collapse" data-target="#collapse-brands" aria-expanded="true" aria-controls="brands">
					Brands
				</a><br />
			</div>

			<div class="left-menu-list">
				<ul id="collapse-brands" class="collapse show" aria-labelledby="brands" data-parent="#AccordionBrands">

					<li>
						<a href="/Brands/Select/-1">All</a>
					</li>
					@foreach (Brand itemBrand in Brands)
					{
						
						<li>
							<a href="/Brands/Select/@itemBrand.Id">@itemBrand.BrandName</a>
						</li>
					}
				</ul>
			</div>

	</div>





</div>
