@using TrendOl.Entities
@model MyUser
@{
	ViewBag.Title = "Your Profile";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
	<link href="~/Content/validation.css" rel="stylesheet" />
	<div class="container mt-2">

		@using (Html.BeginForm("EditProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			<div class="row">


				<!-- User Avatar -->
				<div class="col-md-3">
					<img src="~/images/avatars/@(Model.UserImage)" class="rounded-circle shadow p-1 mb-3 bg-white rounded" width="200" height="200" />
					@Html.HiddenFor(model => model.UserImage)
					<input type="file" name="UserImage" id="UserImage" class="form-control p-0" style="width:250px;" /><br />
					<i class="fas fa-info-circle"></i>
					<i>Lütfen jpg, jpeg ya da png formatı kullanın.</i>
				</div>


				<!-- Inputs -->

				<div class="col-md-7">

					<div class="form-horizontal">
						@Html.ValidationSummary(false)
						@Html.HiddenFor(model => model.Id)
						<!--NAME-->
						<div class="form-group">
							@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
							</div>
						</div>
						<!--SURNAME-->
						<div class="form-group">
							@Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
							</div>
						</div>
						<!--ADDRESS-->
						<div class="form-group">
							@Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
							</div>
						</div>
						<!--GENDER-->
						<div class="form-group align-items-center">
							@Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">


								@if (Model.Gender == "Male" || Model.Gender == null)
								{
									@Html.Label("", "Male")
									@Html.RadioButton("Gender", "Male", true)
									<i>&nbsp;</i>
									@Html.Label("", "Female")
									@Html.RadioButton("Gender", "Female")

								}
								else
								{
									@Html.Label("", "Male")
									@Html.RadioButton("Gender", "Male")
									<i>&nbsp;</i>
									@Html.Label("", "Female")
									@Html.RadioButton("Gender", "Female,", true)
								}



							</div>
						</div>
						<!--USERNAME-->
						<div class="form-group">
							@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
							</div>
						</div>
						<!--PASSWORD-->
						<div class="form-group">
							@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
							</div>
						</div>
						<!--EMAIL-->
						<div class="form-group">
							@Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
							<div class="col-md-9">
								@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-offset-3 col-md-9">
								<input type="submit" value="Save" class="btn btn-success" />
								@Html.ActionLink("Cancel", "ShowProfile", "Home", null, new { @class = "btn btn-warning" })
							</div>
						</div>


					</div>


				</div>



				<div class="col-md-2 text-right">
					<!-- Example single danger button -->

				</div>

			</div>
		}

	</div>

